/* Formulario */
#formulario {
  background-color: white;
}

#formulario form {
  background-color: #DDD;
  height: auto;
  margin: auto;
  padding: 2%;
  position: relative;
  width: 70%;
}

#formulario form h1 {
  width: 100%;
  line-height: 50px;
  background-color: black;
  text-align: center;
  font-size: 20px;
  color: white;
}

#formulario input,
#formulario label,
#formulario textarea,
#formulario p,
#formulario select {
  display: block;
  font-size: 14px;
  padding: 10px;
  position: relative;
  width: 100%;
}

/* Oculta los input tipo: checkbox y radio */
#formulario input[type='checkbox'],
#formulario input[type='radio'] {
  display: none;
}

/* Simula los nuevos campos 'input' (checkbox 7 radio) */
#formulario label.checkbox-field span,
#formulario label.radio-field span {
  background-color: white;
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  width: 25px;
}

/* Vuelve redondos los campos que simulan los campos 'radio' */
#formulario label.radio-field span {
  border-radius: 100%;
}

/* Despliega la imagen cuando el elemento 'checkbox' a sido seleccionado */
#formulario input[type='checkbox']:checked + label.checkbox-field span {
  background: url( '../images/formulario/box.jpg' );
}

/* Despliega la imagen cuando el elemento 'radio' a sido seleccionado */
#formulario input[type='radio']:checked + label.radio-field span {
  background: url( '../images/formulario/radio.jpg' );
}

/* NOTA: Al usar el símbolo + (más) selecciona todos los elementos que están inmediatamente después (no dentro)
         Este selector es conocido como SELECTOR ABYACENTE */
